<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean id="jdbcDAO" class="com.demo.spring.dao.EmpDaoImpl" /> -->
	
	<!-- with autowiring byNmae-->
	<bean id="empDao" class="com.demo.spring.dao.EmpDaoImpl" />

	<!-- <bean id="hrService" class="com.demo.spring.service.HRService">
		<property name="empDao" ref="jdbcDAO"></property>
	</bean> -->
	
	<!-- with autowiring byType - type of class should be same, if we have two beans with with same type then issue-->
	<!-- <bean id="hrService" class="com.demo.spring.service.HRService" autowire="byType"/> -->
	
	<!-- with autowiring byNmae - for by name, bean id and private proerty both should be same -->
	<!--  Here bean id='empDao" and hrservice class property empDao should be same -->
	<bean id="hrService" class="com.demo.spring.service.HRService" autowire="byName"/>	
	

</beans>
